.meetingPageContainer {
  width: 95%;
  height: calc(95% - 64px);
  margin: 20px auto 10px;
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-height: 0;
}

.tabContent {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 0;
}

.addButtonContainer {
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.addButtonContainerWithContent {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addButton {
  margin-right: 20px;
  height: 36px;
}

@media (max-width: 768px) {
  .meetingPageContainer {
    height: unset;
  }
  .addButtonContainerWithContent {
    flex-direction: column;
  }
}
