.meetingPageHeader {
  padding: 20px 45px;
}

.meetingTitleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .meetingTitleText {
    margin-right: 20px;
  }

  .meetingTitle {
    display: flex;
  }

  .userParticipationStatus {
    padding: 0 10px;
  }

  .statusSelect {
    width: 150px;
  }
}

.meetingDateEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

.meetingInfoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.meetingLocation {
  padding: 0 10px;

  .meetingLocationText {
    padding-left: 5px;
  }
}

.meetingMemberList {
  display: flex;
  flex-direction: row;
  align-items: center;

  .memberListAvatar {
    margin: 0 5px;
  }
}

.meetingStatusSelect {
  margin-left: 10px;
  min-width: 120px;
}

.meetingDescriptionInput {
  margin-top: 20px;
}

.meetingPlaceSelect {
  min-width: 250px;
}

.meetingEditButton {
  position: absolute;
  top: 65px;
  right: 10px;
}
