.noContentContainer {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  padding-top: 30px;
}

.noContentIcon {
  width: 100%;
  height: auto;
  max-height: 100%;
  flex: 1;
  min-height: 0;
}

.noContentText {
  margin-top: 20px;
}
