.activityList {
  width: 90%;
  overflow: auto;
}

.activityListItem {
  justify-content: space-between;
}

.activityListItemText {
  flex-grow: 0;
  flex-shrink: 1;
}

.activityListItemDates {
  flex-grow: 1;
  flex-shrink: 0;
  white-space: nowrap;
  text-align: right;
  margin-right: 70px;
}
